.header{
    width: 100%;
   
    &__img{
        width: 100%;
        height: auto;
        background-image: url(assets/mobile/image-hero.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 66.64%;
    }
}